h1 {
  color:blue;
  text-align: center;
}



h2 {
  color: green;
  font-style: italic;
  text-align: center;
}

p{
  font-family: sans-serif;
  color: maroon;
  background-color: grey;

}

ul {
  line-height: 40px
}

img {
  height: 200px;
  width: 500px;
}

strong
{
  font-size: 80px;
  color: red;
}

em
{
  background-color: black;
}
